gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks

# CircleCI Android orb
# See https://circleci.com/docs/deploy-android-applications/
keystore.properties

# See https://circleci.com/developer/orbs/orb/circleci/android#commands-create-google-play-key
google-play-key.json
